main {
    background-color: #EAEAEA;
}

#main {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 7%;
    height: 70%;
    width: 90%;
    margin: 5% auto 0 auto;
    grid-gap: 1em;
}

html, body, #root {
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    // height: 100%;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 1em;
}

.center-text {
    text-align: center;
}

.layout {
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .25em;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    height: 100%;
    width: 100%;
}

#bio {
    padding: 1em;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    .pic {
        // display: grid;
        justify-self: start;
        text-align: center;

        h2, h3 {
            margin: 0;
        }
    
        img {
            border-radius: .25em;
            width: 50%;
            background-color: #EAEAEA;
            padding: .5em;
        }
    }
    .bio-content {
        margin-top: 5%;
        grid-column: 2/3;
    }
    .text {
        justify-self: start;
        align-self: end;
        // width: 50%;
        grid-column: 2/3;
        p {
            font-size: 1.25em;
            // text-align: center;
        }
    }
    .links {
        justify-self: center;
        grid-column: 2/3;
        margin: 0 auto;
        width: 50%;

        a {
            margin: 1em;
        }
    }
}

#projects {
    h1 {
        border-bottom: solid 3px black;
        // padding: 1em;
        width: 90%;
        margin: 0 auto;
    }
}