.card {
    display: grid;
    width: 95%;
    height: fit-content;
    margin-bottom: 1em;

    border-radius: .25em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;

    img {
        width: 100%;
    }

    .card-content {
        padding: 1em;
    }
}